@model List<ContactoModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Lista de Empleado
  </div>
  <div class="card-body">
    <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success" >Crear Nuevo Empleado</a>
    <hr />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre: </th>
                <th>Sueldos: </th>
                <th>puesto: </th>
                <th>jerarquia: </th>
                <th>fecha de ingreso: </th>
                <th>fecha de ultimo aumento: </th>
                <th>fecha de baja: </th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.sueldos</td>
                        <td>@item.puesto</td>
                        <td>@item.jerarquia</td>
                        <td>@item.fecha_ingreso</td>
                        <td>@item.fecha_aumento</td>
                        <td>@item.fecha_baja</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-idContacto="@item.IdContacto">Editar</a>
                        </td>
                    </tr>
                    
                }
        </tbody>
    </table>
  </div>
</div>



